{% extends 'base.html.twig' %}

{% block title %}New Mesa{% endblock %}

{% block body %}
    <h1>Create new Mesa</h1>

    {{ include('mesa/_form.html.twig') }}

    <a href="{{ path('mesa_index') }}">back to list</a>
{% endblock %}
