{% extends 'base.html.twig' %}

{% block title %}Edit Facturas{% endblock %}

{% block body %}
    <h1>Edit Facturas</h1>

    {{ include('facturas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('facturas_index') }}">back to list</a>

    {{ include('facturas/_delete_form.html.twig') }}
{% endblock %}
