<form method="post" action="{{ path('inventario_delete', {'idArticulo': inventario.idArticulo}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventario.idArticulo) }}">
    <button class="btn">Delete</button>
</form>
